<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gene-drug.com</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/logo-nav.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="static/img/Logo.png" width="50" height="50" alt="network representation">
        </a>
          <h1 style="color:white; padding:0px; margin:0px">gene-drug interaction analysis</h1>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
          </ul>
        </div> -->
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="padding-top:100px">
        <h3> Make a gene-drug interactions graph </h3>
      <form action="/select_network" method=POST>
        Which genes would you like to get drug interaction information for?:
        <input type="text" name="genes" value="akt,erk1,mtor"><br><br>
        if you are interested on drug resistance evidence press "r"<br>
        if you are interested on drug sensitivity evidence press "s"<br>
        if you are interested on general interactions press "g"<br>
        if you are interested on all of above interactions press "a".<br>

        <input type="text" name="kind" value="r"><br><br>
        Enter the name for saving your graph:
        <input type="text" name="path" value="graph"><br><br>
        Would you like to display labels?. y/n:
        <input type="text" name="lab" value="y"><br><br>
        Would you like to download your graph.gml file for further work? y/n:
        <input type="text" name="download" value="y"><br><br>
        <input type="submit" value="Submit">
      </form>
      <br>
      <br>
      <h3> Get evidence of gene-drug interactions </h3>
      <form action="/get_evidence" method="POST">
          Which gene are you interested in?
          <input type="text" name="gene" value="akt"><br><br>
          Interaction with which drug are you interested in?
          <input type="text" name="drug" value="lapatinib"><br><br>
          How many evidence sentences, if available, would you like to see?
          <input type="text" name="max_number" value="5"><br><br>
          if you are interested on drug resistance evidence press "r"<br>
          if you are interested on drug sensitivity evidence press "s"<br>
          if you are interested on general interactions press "g"<br>
          if you are interested on all of above interactions press "a".<br>

          <input type="text" name="r_s" value="r"><br><br>
          <input type="submit" value="Submit">
      </form>

      <br>
      <br>
      <h3> Make predictions for gene-drug interactions </h3>
      <form action="/make_prediction" method="POST">
          Which genes would you like to make drug interaction predictions for?:
          <input type="text" name="genes" value="akt,erk1,mtor"><br><br>
          if you are interested on drug resistance predictions press "r"<br>
          if you are interested on drug sensitivity predictions press "s"<br>
          if you are interested on general interactions press "g"<br>
          if you are interested on all of above interactions press "a".<br>

          <input type="text" name="kind" value="r"><br><br>
          How many drugs do you want your list to display?
          <input type="text" name="drug_number" value="10"><br><br>
          Would you like to display the drugs in ascending or descendicg order. a/d:
          <input type="text" name="order" value="a"><br><br>
          <input type="submit" value="Submit">
      </form>
      <br>
      <br>
      <p> Gene and drug names with more than one association or not in our
          synonyms database will be ignored. For example if you are interested
          in erk, please choosee erk1 or erk2 - not simply erk.
       </p>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
